<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>
    <%= Rails.application.class.parent_name %>
  </title>

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <%= javascript_include_tag "https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js", "https://oss.maxcdn.com/respond/1.4.2/respond.min.js" %>
  <![endif]-->

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<div class="header j-header">
  <div class="bg-color j-bg-color">
    <header id="main-header j-main-header">
    <nav class="navbar navbar-default j-navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Ima<span class="logo-dec">gine</span></a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="#current">Energy Currently</a></li>
            <li class=""><a href="#renewable">Renewable Energy</a></li>
            <li class=""><a href="#committed">Cities 100% committed</a></li>
            <li class=""><a href="#mytown">My Town</a></li>

            <!-- # Removed Login & Logged Out logic -->
          </ul>
        </div>
      </div>
    </nav>
    </header>

<div class="wrapper">
<div class="container">
  <div class="row">
    <div class="banner-info text-center wow fadeIn delay-05s">
      <h1 class="bnr-title">100% Commi<span>ted</span></h1>
      <h2 class="bnr-sub-title">Renewable Energy</h2>
      <p class="bnr-para">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.<br> Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip <br>ex ea commodo consequat.</p>

      <div class="overlay-detail">
        <a href="#feature"><i class="fa fa-angle-down"></i></a>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>
<!--/ HEADER-->
<!---->

<!---->
<!-- Module B -->
<section id="current" class="j-section-padding wow fadeInUp delay-05s">
<div class="container">
<div class="row">
  <div class="col-md-12 text-center">
    <h2 class="service-title pad-bt15">The current problem with Energy Production</h2>
    <p class="sub-title pad-bt15">Electricity generation is the leading cause of industrial air pollution in the U.S.
      Most of our electricity comes from coal, nuclear, and other non-renewable power plants. Producing energy from these resources
      takes a severe toll on our environment, polluting our air, land, and water. In the U.S. a recent figure claims 34%, 30% & 20% of our energy is generated
      by Natural Gas, Coal and Nuclear energy accordingly.  </p>
      <p class="sub-title pad-bt15">Renewable energy sources can be used to produce electricity with fewer environmental impacts.
        It is possible to make electricity from renewable energy sources without producing carbon dioxide (CO2), the leading cause of
        global climate change.</p>
    <hr class="bottom-line">
  </div>
  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="service-item">
      <h3><span>C</span>arbon Dioxide (CO2)</h3>
      <p>CO2 is a greenhouse gas that contributes to global climate change. Long-term effects associated with fossil fuel burning could
        be even more alarming than air pollution-related deaths today. In the future, tropical diseases could thrive as the earth’s climate
        warms, and deaths due to extreme weather conditions could increase.</p>
    </div>
  </div>
  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="service-item">
      <h3><span>M</span>ercury</h3>
      <p>Mercury is a highly toxic metal that is released from coal-fired power plants. Mercury accumulates in the fat cells of fish and other animals.
        When humans eat the fish, they are exposed to mercury. Mercury causes permanent damage to the liver and central nervous system, causing
        loss of motor function, slurred speech, tunnel vision, and loss of hearing. Mercury is particularly harmful when ingested by pregnant or
        nursing women. </p>
    </div>
  </div>
  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="service-item">
      <h3><span>F</span>ossil Fuels</h3>
      <p>Fossil fuels make the U.S. dependant in foreign oil which sometimes can be sourced from conflict zones. Increased dependance on foreign oil posses a
        geopolitical threat. Also, fossil fuels are one of the biggest generators of the greenhouse gas CO2. In addition to this Fossil fuels are source from
        a finite source which will naturally cause scarcity and prices to rise and fluctuate.</p>
    </div>
  </div>
  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="service-item">
      <h3><span>O</span>zone (O3)</h3>
      <p>occurs naturally in the upper atmosphere where it is beneficial. However, ozone in the lower atmosphere creates the urban haze which we call smog.
        Automobiles and electricity generation are top contributors to ground level ozone. According to the American Lung Association, breathing ozone can
        lead to shortness of breath, lung inflammation, asthma attacks, and for children who grow up in areas with high ozone pollution, greater risk of lifelong
        lung disease.</p>
    </div>
  </div>
</div>
</div>
</section>
<!---->

<section id="renewable" class="j-section-padding wow fadeInUp delay-05s">
<div class="container">
<div class="row">
  <div class="col-md-12 text-center">
    <h2 class="service-title pad-bt15">Why Renewable Energies?</h2>
    <p class="sub-title pad-bt15">Renewable energies are sources of clean, inexhaustible and increasingly competitive energy. They differ from fossil fuels
      principally in their diversity, abundance and potential for use anywhere on the planet, but above all in that they produce neither greenhouse gases –
      which cause climate change – nor polluting emissions. Their costs are also falling and at a sustainable rate, whereas the general cost trend for fossil fuels
      is in the opposite direction in spite of their present volatility.</p>
      <p class="sub-title pad-bt15">Growth in clean energies is unstoppable, as reflected in statistics produced in 2015 by the International Energy Agency (IEA): they represented nearly half of
      all new electricity generation capacity installed in 2014, when they constituted the second biggest source of electricity worldwide, behind coal.</p>
    <hr class="bottom-line">
  </div>
  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="service-item">
      <h3><span>I</span>nexhastible</h3>
      <p>Compared to conventional energy sources such as coal, gas, oil and nuclear - reserves of which are finite - clean energies are just as available as the sun from
        which they originate and adapt to natural cycles, hence their name “renewables”. This makes them an essential element in a sustainable energy system that
        allows development today without risking that of future generations.</p>
    </div>
  </div>
  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="service-item">
      <h3><span>R</span>educing dependance</h3>
      <p>the indigenous nature of clean sources gives local economies an advantage and brings meaning to the term “energy independence”. Dependence on
        fossil fuel imports results in subordination to the economic and political short-term goals of the supplier country, which can compromise the security
        of energy supply. Everywhere in the world there is a renewable resource – whether that be the wind, sun, water or organic material – available
        for producing energy sustainably.</p>
    </div>
  </div>
  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="service-item">
      <h3><span>I</span>Increasingly competitive</h3>
      <p>The main renewable technologies – such as wind and solar photovoltaic – are drastically reducing their costs, such that they are fully competitive
        with conventional sources in a growing number of locations. Economies of scale and innovation are already resulting in renewable energies becoming
        the most sustainable solution, not only environmentally but also economically, for powering the world. </p>
    </div>
  </div>
  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="service-item">
      <h3><span>F</span>ights climate change</h3>
      <p>Renewables do not emit greenhouse gases in energy generation processes, making them the cleanest, most viable solution to prevent environmental degradation.</p>
    </div>
  </div>
</div>
</div>
</section>
<!---->

<section id="" class="j-section-padding wow fadeIn delay-05s">
<!-- Module D -->
<div class="container">
<div class="row">
  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="wrap-item text-center">
      <div class="item-img">
        <%= image_tag("ser01.png") %>
      </div>
      <h3 class="pad-bt15">Wind Energy</h3>
      <p>Wind energy doesn't pollute the air like power plants that rely on combustion of fossil fuels, such as coal or natural gas. Wind
        turbines don't produce atmospheric emissions that increase health problems like asthma or create acid rain or greenhouse gases.
        According to the Wind Vision Report, wind has the potential to reduce cumulative greenhouse gas emissions by 14%, saving
        $400 billion in avoided global damage by 2050.</p>
    </div>
  </div>
  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="wrap-item text-center">
      <div class="item-img">
        <%= image_tag("ser02.png") %>
      </div>
      <h3 class="pad-bt15">Solar Energy</h3>
      <p>When properly harnessed and stored, just one hour of energy from the sun could power the entire global population for a year.
      We can’t make more oil. Eventually, it will run out. But the sun will never run out. Coal, natural gas, and nuclear power use large
      amounts of water for cooling. During heat waves or severe droughts as we’ve experienced in recent years, that means electricity
      generation is at risk. But solar power systems do not require water to generate electricity.</p>
    </div>
  </div>
  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="wrap-item text-center">
      <div class="item-img">
        <%= image_tag("ser03.png") %>
      </div>
      <h3 class="pad-bt15">Hydropower</h3>
      <p>Hydropower is fueled by water, so it's a clean fuel source, meaning it won't pollute the air like power plants that burn fossil
        fuels, such as coal or natural gas. The energy generated through hydropower relies on the water cycle, which is driven by the sun,
        making it a renewable power source, making it a more reliable and affordable source than fossil fuels that are rapidly being depleted.</p>
    </div>
  </div>
  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="wrap-item text-center">
      <div class="item-img">
        <%= image_tag("ser04.png") %>
      </div>
      <h3 class="pad-bt15">Others</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
  </div>
</div>
</div>
</section>
<!---->

<section id="committed" class="j-section-padding wow fadeInUp delay-05s">
<div class="container">
<div class="row">
  <div class="col-md-12 text-center">
    <h2 class="service-title pad-bt15">U.S. cities committed to 100%</h2>
    <p class="sub-title pad-bt15">Some US cities are already commited to 100% Renewable Energy. There are cities which are at various stages of this process. There is a small group of cities in the US which have already achieve 100% Renewable Energy status. Other cities have commited to 100% renewable within a certain year (I.E. 2025). St. Petersburg, FL is in this second group. Other cities have declared themselves as working toward 100% Renewable Energy. Tampa, FL. is in this third group</p>
    <hr class="bottom-line">
  </div>
  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="service-item">
      <h3><span>S</span>ea level rise</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <a href="">learn more...</a>
    </div>
  </div>
  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="service-item">
      <h3><span>L</span>eading by example</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <a href="">learn more...</a>
    </div>
  </div>
  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="service-item">
      <h3><span>C</span>lean Sourcing</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <a href="">learn more...</a>
    </div>
  </div>
  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="service-item">
      <h3><span>I</span>nfrastructure Investment</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <a href="">Learn more...</a>
    </div>
  </div>
</div>
</div>
</section>

<!---->
<!-- Module C -->
<section id="" class="j-section-padding wow fadeInUp delay-05s">
<div class="container">
<div class="row">
  <div class="col-md-12 text-center">
    <h2 class="service-title pad-bt15">100% Renewable Energy Cities</h2>
    <p class="sub-title pad-bt15">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod<br>tempor incididunt ut labore et dolore magna aliqua.</p>

    <!-- # Cities button goes here -->
    <%= link_to cities_path, class: 'btn btn-download' do %>
      <span class="glyphicon glyphicon-picture"> </span>
      See Cities
    <% end %>

    <hr class="bottom-line">
  </div>
  <% @cities.each do |city| %>
  <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item padding-right-zero mr-btn-15">
    <figure>
      <% if city.image_url(:medium) %>
        <%= image_tag(city.image_url(:medium), size: "375x270") %>
      <% else %>
        <%= image_tag "port01.jpg", size: "375x270" %>
      <% end %>
      <figcaption>
        <% if city.city_name.present? %>
          <h2><%= city.city_name %>, <%= city.state %></h2>
        <% else %>
          <h2><%= city.state %></h2>
        <% end %>
          <p>The city has set a goal to utilize 100% Renewable Energy by the year <%= city.one_hundred_pct_by %></p>
      </figcaption>
    </figure>
  </div>
  <% end %>
</div>
</div>
</section>
<!---->

<section id="mytown" class="j-section-padding wow fadeInUp delay-05s">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <%= form_for :city, url: new_or_create_cities_path, method: 'get' do |f| %>
          <h2 class="service-title pad-bt15">
            How would <input type="text" class="form-control input-sm your-town" name="city_name" id="subject" placeholder="your town" data-rule="minlen:3" data-msg="Please enter valid city name" /> look like as a 100% Renewable Energy city?
          </h2>
          <p class="sub-title pad-bt15">Type the name of your town, then press the button below to model your town.</p>

          <%= f.button type: "submit", class: 'btn btn-download' do %>
            <span class="fa fa-globe"> </span>
            Find out
          <% end %>

          <hr class="bottom-line">
        <% end %>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="service-item">
          <h3><span>B</span>e proactive</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <a href="">learn more...</a>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="service-item">
          <h3><span>P</span>art of the solution</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <a href="">learn more...</a>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="service-item">
          <h3><span>S</span>ave the earth</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <a href="">learn more...</a>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="service-item">
          <h3><span>R</span>educe reliance</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <a href="">Learn more...</a>
        </div>
      </div>
  </div>
  </div>
</section>

</html>
