<%= form_for(@city, html: { class: "form-horizontal", role: "form" }) do |f| %>

  <%# Alert showing errors for this form %>
  <% if @city.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4><%= pluralize(@city.errors.count, "error") %> prohibited this city from being saved:</h4>

      <ul>
      <% @city.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%# city_name %>
  <div class="form-group">
    <%= f.label :city_name, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :city_name, class: "form-control" %>
    </div>
  </div>


  <%# state %>
  <div class="form-group">
    <%= f.label :state, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :state, class: "form-control" %>
    </div>
  </div>


  <%# us_city %>
  <div class="form-group">
    <%= f.label :us_city, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :us_city, class: "form-control" %>
    </div>
  </div>


  <%# population %>
  <div class="form-group">
    <%= f.label :population, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.number_field :population, class: "form-control" %>
    </div>
  </div>


  <%# one_hundred_pct_by %>
  <div class="form-group">
    <%= f.label :one_hundred_pct_by, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.number_field :one_hundred_pct_by, class: "form-control" %>
    </div>
  </div>


  <%# co2_emissions_perannum %>
  <div class="form-group">
    <%= f.label :co2_emissions_perannum, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.number_field :co2_emissions_perannum, class: "form-control" %>
    </div>
  </div>


  <%# wind %>
  <div class="form-group">
    <%= f.label :wind, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.number_field :wind, class: "form-control" %>
    </div>
  </div>


  <%# solar %>
  <div class="form-group">
    <%= f.label :solar, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.number_field :solar, class: "form-control" %>
    </div>
  </div>


  <%# other_energy_source %>
  <div class="form-group">
    <%= f.label :other_energy_source, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.number_field :other_energy_source, class: "form-control" %>
    </div>
  </div>


  <%# image_data %>
<div class="form-group">
  <%= f.label :image_data, class: "col-sm-2 control-label" %>
  <div class="col-sm-10">
  <%# upload button %>
  <%= f.hidden_field :image, value: @city.cached_image_data %>
  <%= f.file_field :image %>
  </div>
</div>

  <%# Submit %>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit class: "btn btn-primary" %>
    </div>
  </div>
<% end -%>



<section id="contact" class="section-padding wow fadeInUp delay-05s">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center white">
        <h2 class="service-title pad-bt15">Model your City/Town at 100%</h2>
        <p class="sub-title pad-bt15">Please enter the name of your town below to image how this would look at 100% renewable energy.<br>Please make sure you include the mandatory fields. </p>
        <hr class="bottom-line white-bg">
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="loction-info white">
          <p><i class="fa fa-plug fa-fw pull-left fa-5x"></i>MANDATORY FIELDS:
            <br>City<br>State<br>100% by year</p>
          <p><i class="fa fa-plug fa-fw pull-left fa-2x"></i>State<br>100% by year</p>

        </div>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="contact-form">
            <div id="sendmessage">Your message has been sent. Thank you!</div>
            <div id="errormessage"></div>
            <form action="" method="post" role="form" class="contactForm">

               <%# City %>
                <div class="col-md-6 padding-right-zero">
                    <div class="form-group">
                        <input type="text" name="name" class="form-control" id="name" placeholder="City" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                        <div class="validation"></div>
                    </div>
                </div>

                <%# State %>
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="email" class="form-control" name="email" id="email" placeholder="State" data-rule="email" data-msg="Please enter a valid email" />
                        <div class="validation"></div>
                    </div>
                </div>

                <%# U.S. city? %>
                <div class="col-md-12">
                    <div class="form-group">
                        <input type="text" class="form-control" name="subject" id="subject" placeholder="US city?" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                        <div class="validation"></div>
                    </div>
                </div>

                <%# Population %>
                <div class="col-md-12">
                    <div class="form-group">
                        <input type="text" class="form-control" name="subject" id="subject" placeholder="Population" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                        <div class="validation"></div>
                    </div>
                </div>                

                <%# 100% by year %>
                <div class="col-md-12">
                    <div class="form-group">
                        <input type="text" class="form-control" name="subject" id="subject" placeholder="100% by year" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                        <div class="validation"></div>
                    </div>
                </div>

                <%# CO2 Emissions %>
                <div class="col-md-12">
                    <div class="form-group">
                        <input type="text" class="form-control" name="subject" id="subject" placeholder="CO2 emissions per year" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                        <div class="validation"></div>
                    </div>
                </div>

                <%# Wind% %>
                <div class="col-md-12">
                    <div class="form-group">
                        <input type="text" class="form-control" name="subject" id="subject" placeholder="Wind" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                        <div class="validation"></div>
                    </div>
                </div>

                <%# Solar% %>
                <div class="col-md-12">
                    <div class="form-group">
                        <input type="text" class="form-control" name="subject" id="subject" placeholder="Solar" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                        <div class="validation"></div>
                    </div>
                </div>

                <%# Other% %>
                <div class="col-md-12">
                    <div class="form-group">
                        <input type="text" class="form-control" name="subject" id="subject" placeholder="Other sources" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                        <div class="validation"></div>
                    </div>
                </div>

                <!-- Image field -->
                <div class="col-md-12">
                    <div class="form-group">
                        <input type="text" class="form-control" name="subject" id="subject" placeholder="Image" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                        <div class="validation"></div>
                    </div>
                </div>
                <div class="col-md-12">
                  <button type="submit" class="btn btn-primary btn-submit">Submit</button>
                </div>

            </form>

        </div>
      </div>
    </div>
  </div>
</section>
