<!DOCTYPE html>
<html>
  <head>
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
        margin: 120px;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>


<section id="blog" class="section-padding wow fadeInUp delay-05s">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h2 class="service-title pad-bt15">Cities commited to 100</h2>
        <p class="sub-title pad-bt15">See below our Catalogue of U.S. cities+ commited to 100% Renewable Energy.</p>
        <hr class="bottom-line">
      </div>


  <div>
    <%= link_to town_email_path, class: 'btn btn-primary' do %>
      <span class="glyphicon glyphicon-leaf"></span>
        My Town Email
    <% end %>
      <%= link_to new_city_path, class: 'btn btn-primary' do %>
        <span class="glyphicon glyphicon-plus"></span>
        New City
      <% end %>
  </div>

      <%- @cities.each do |city| %>
        <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="blog-sec">
          <div class="blog-img">
            <%= image_tag(city.image_url(:medium), class: "img-responsive") %>
          </div>
          <div class="blog-info">
            <h2><%= city.city_name %>, <%= city.state %></h2>
            <div class="blog-comment blog-flex">
                <p>100% Renewable by: <%= city.one_hundred_pct_by %></p>
                  <% if logged_in? && favorited(city.id) == true %>
                  <p class="faved-heart" data-remote=true data-type=script data-cityid="<%= city.id %>"><i class="fa fa-heart" aria-hidden=“true”> </i></p>
                  <% elsif logged_in? && favorited(city.id) == false %>
                  <p class="fav-heart" data-remote=true data-type=script data-cityid="<%= city.id %>"><i class="fa fa-heart" aria-hidden=“true”> </i></p>
                  <% end %>
                  <%= social_share_button_tag %>
            </div>
            <p><%= city.city_name %>, <%= city.state %> has a population of <%= city.population %>. <%= city.city_name %> has current CO2 emissions of <%= city.co2_emissions_perannum %> cubic tons per year. The city has set a goal to use 100% Renewable Energy by the year <%= city.one_hundred_pct_by %>.</p>
            <!-- <a href="" class="read-more">Read more →</a> -->
            <%= link_to "Read More →", city, class: "read-more" %>
          </div>
        </div>
      </div>
      <% end %>


    </div>
  </div>
</section>

# Google Maps API
<div id="map" style="height:100%; width:100%"></div>
   <script>
     var map;
     function initMap() {
       map = new google.maps.Map(document.getElementById('map'), {
         zoom: 2,
         center: new google.maps.LatLng(2.8,-187.3),
         mapTypeId: 'terrain'
       });

       // Create a <script> tag and set the USGS URL as the source.
       var script = document.createElement('script');
       // This example uses a local copy of the GeoJSON stored at
       // http://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/2.5_week.geojsonp
       script.src = 'https://developers.google.com/maps/documentation/javascript/examples/json/earthquake_GeoJSONP.js';
       document.getElementsByTagName('head')[0].appendChild(script);
     }

     // Loop through the results array and place a marker for each
     // set of coordinates.
     window.eqfeed_callback = function(results) {
       for (var i = 0; i < results.features.length; i++) {
         var coords = results.features[i].geometry.coordinates;
         var latLng = new google.maps.LatLng(coords[1],coords[0]);
         var marker = new google.maps.Marker({
           position: latLng,
           map: map
         });
       }
     }
   </script>
   <script async defer
   src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAfVjADQx0Qwf7EG77PFfIDZ7EMBIkJaQ4&callback=initMap">
   </script>


</body>
</html>
