<section id="blog" class="section-padding wow fadeInUp delay-05s">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h2 class="service-title pad-bt15">Cities commited to 100</h2>
        <p class="sub-title pad-bt15">See below our Catalogue of U.S. cities+ commited to 100% Renewable Energy.</p>
        <hr class="bottom-line">
      </div>
    </div>

    <div class="text-center">
      <%= link_to town_email_path, class: 'btn btn-primary' do %>
        <span class="glyphicon glyphicon-leaf"></span>
          My Town Email
      <% end %>
        <%= link_to new_city_path, class: 'btn btn-primary' do %>
          <span class="glyphicon glyphicon-plus"></span>
          New City
        <% end %>
    </div>

    <%- @cities.each do |city| %>
        <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="blog-sec">
          <div class="blog-img">
            <% if city.image.present? %>
              <%= image_tag(city.image_url(:medium), class: "img-responsive") %>
            <% else %>
              <% image_tag('TownStock.jpg') %>
            <% end %>

          </div>
          <div class="blog-info">
            <h2><%= city.city_name %>, <%= city.state %></h2>
            <div class="blog-comment blog-flex">
              <p>100% Renewable by: <%= city.one_hundred_pct_by %></p>
              <% if logged_in? && favorited(city.id) == true %>
                <span class="faved-heart" data-remote=true data-type=script data-cityid="<%= city.id %>"><i class="fa fa-heart" aria-hidden=“true”> </i></span>
              <% elsif logged_in? && favorited(city.id) == false %>
                <span class="fav-heart" data-remote=true data-type=script data-cityid="<%= city.id %>"><i class="fa fa-heart" aria-hidden=“true”> </i></span>
              <% end %>
              <%= social_share_button_tag %>
            </div>
            <p><%= city.city_name %>, <%= city.state %> has a population of <%= number_with_delimiter(city.population, delimiter: ',') %>. <%= city.city_name %> has current CO2 emissions of
              <%= number_with_delimiter(city.co2_emissions_perannum, delimiter: ',') %> cubic tons per year. The city has set a goal to use
              100% Renewable Energy by the year <%= city.one_hundred_pct_by %>.</p>
            <!-- <a href="" class="read-more">Read more →</a> -->
            <%= link_to "Read More →", city, class: "read-more" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</section>

  <div class="text-center">
    <%= paginate @cities %>
  </div>
  <div class="text-center">
    <%= page_entries_info @cities %>
  </div>
