<div class="container">
  <div class="pull-right">
    <%= link_to cities_path, class: 'btn btn-download' do %>
      <span class="glyphicon glyphicon-arrow-left"></span>
      Back
    <% end %>
    <%= link_to edit_city_path(@city), class: 'btn btn-sm btn-more' do %>
      <span class="glyphicon glyphicon-pencil"></span>
      Edit
    <% end %>
    <%= link_to email_city_path(@city), class: 'btn btn-sm btn-download' do %>
      <span class="glyphicon glyphicon-envelope"></span>
      My Town Email
    <% end %>
  </div>

  <h1>
    <% if @city.city_name.present? %>
      <%= @city.city_name %>, <%= @city.state %>
    <% else %>
      <%= @city.state %>
    <% end %>

      <% if logged_in? && favorited(@city.id) == true %>
        <span class="faved-heart" data-remote=true data-type=script data-cityid="<%= @city.id %>"><i class="fa fa-heart" aria-hidden=“true”></i></span>
      <% elsif logged_in? && favorited(@city.id) == false %>
        <span class="fav-heart" data-remote=true data-type=script data-cityid="<%= @city.id %>"><i class="fa fa-heart" aria-hidden=“true”></i></span>
      <% end %>

  </h1>
  <div>
    <h2>100% Renewable by: <%= @city.one_hundred_pct_by %></h2>
    <span><%= social_share_button_tag %></span>
  </div>

<!-- Columns are always 50% wide, on mobile and desktop -->
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <% if @city.image.present? %>
        <%= image_tag(@city.image_url(:medium), class: "img-responsive") %>
      <% else %>
        <% image_tag('male.png') %>
      <% end %>
    </div>
    <div class="col-md-6 col-sm-12">
      <dl class="dl-horizontal">
        <h3>Polulation: <%= number_with_delimiter(@city.population, delimiter: ',') %></h3>
        <h3>Co2 emissions perannum: <%= number_with_delimiter(@city.co2_emissions_perannum, delimiter: ',') %></h3>
        <h3>Percentage of Wind projected: <%= number_to_percentage(@city.wind, precision: 0) %></h3>
        <h3>Percentage of Solar projected: <%= number_to_percentage(@city.solar, precision: 0) %></h3>
        <h3>Percentage of other Renewables: <%= number_to_percentage(@city.other_energy_source, precision: 0) %></h3>
      </dl>
      <hr class="bottom-line">
      <div class="well well-sm">Use the "My Town Email" button above to generate a souvenir email about your Renewable Energy town.</div>
    </div>
  </div>
</div>
